@import "tailwindcss";

@font-face {
  font-family: 'Gargouillette';
  src: local('Gargouillette'), local('Inter'), local('sans-serif'); 
}

@layer base {
  :root {
    --background: #fdfdfd;
    --foreground: #111111;
    --font-gargouillette: 'Gargouillette', sans-serif;
    
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #18181b;
    --radius: 0.5rem;
    --primary: #18181b;
  }
 
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #09090b;
      --foreground: #fafafa;
      
      --border: #27272a;
      --input: #27272a;
      --ring: #d4d4d8;
      --primary: #fafafa;
    }
  }
}
 
@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-gargouillette);
  }
}
